{% extends 'landing/base.html' %} 
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'recruitment/css/style.css' %}" type="text/css">
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <section id="top-section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Let's Join Computing Laboratory Gen 7.0!</h2>
                <!-- <h3 class="section-subheading">See the poster below for details</h3> -->
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Online Test : Phase 1</h2>
                    <h3 class="section-subheading text-muted">11 March 2021, 09:00 - 24:00</h3>
                    <p>Please check your email for the information</p>
                </div>
            </div>
    </section>

    
{% endblock %}